# postgres config
hosts = localhost
user = {{ pguser }}
password = {{ pgpassword }}
dbname = {{ pgdb }}

# forward to smtp:127.0.0.1:20381 for custom domain AND email domain
query = SELECT 'smtp:127.0.0.1:20381' FROM custom_domain WHERE domain = '%s' AND verified=true
    UNION SELECT 'smtp:127.0.0.1:20381' FROM public_domain WHERE domain = '%s'
    UNION SELECT 'smtp:127.0.0.1:20381' WHERE '%s' = '{{ domain }}' LIMIT 1;